body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}

p {
  color: #8f8f8f;
}

/* Heading Section */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 2.4rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #e798b6;
  color: white;
}

.white-section {
background-color: white;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px gray;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light', sans-serif;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

.btn:hover {
  color: #dd6e99;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.trio-icons {
  color: #dd6e99;
  margin-bottom: 1rem;
}

.trio-icons:hover {
  color: #e798b6;
}

/* Testimonial Section */

#testimonials {
  background-color: #dd6e99;
}

.testimonial-text {
  font-size: 2.4rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #dd6e99;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;

}

.price-text {
  font-size: 2.4rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.card-header {
  background-color: #e798b6;
}

/* Call To Action */

/* Footer Section */

.footer-icons {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
